<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493509694524-1ag7nt9jf8v08tbatdt9sq2hcpn7c6at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493509694524-1ag7nt9jf8v08tbatdt9sq2hcpn7c6at</string>
	<key>API_KEY</key>
	<string>AIzaSyDB9XEm32MwEWRxca8shyTJLo42l5mfT9M</string>
	<key>GCM_SENDER_ID</key>
	<string>493509694524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khoa.ToDo</string>
	<key>PROJECT_ID</key>
	<string>todo-c0339</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c0339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493509694524:ios:644a3b7cffaf58f4</string>
	<key>DATABASE_URL</key>
	<string>https://todo-c0339.firebaseio.com</string>
</dict>
</plist>